extends layout

block content
  h1= title
  p Welcome to #{title}

  h1 SignUp Page 
  form(action="index/signUp" method='post')
    label(for='email') enter email 
    input(type="text" name='email' id='email')
    label(for="password") enter password  
    input(type="text" name='password' id='password')
    button(type='submit') submit 
